<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Siarhei Siamashka" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Siarhei Siamashka</a>
    <table style="float: right; border-color: #FFFFFF; background: #FFFFFF"><tr>
    <td style="border-color: #FFFFFF">
        <a href="http://feeds.feedburner.com/ssvb">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
    <td style="border-color: #FFFFFF">
        <g:plusone></g:plusone>
    </table>

<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

  </div>

  {{ content }}

</div>

</body>
</html>
